[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.4
[submodule "cppdisplacementx"]
	path = cppdisplacementx
	url = https://github.com/laiambryant/cppdisplacementx
	branch = main
